<!-- @Framework dev kit -->

<div id="app">
    <frwk-<%= props.name.toLowerCase() %> inline-template>
        <div style="width: 100%; text-align: center;">
            <h1> {{ title }} </h1>
        </div>
    </frwk->
</div>